services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
     build: .
     depends_on:
       - db
     ports:
       - "8080:8080"
     environment:
       # in application.properties we use localhost  instead of name of service
       SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/auth
       SPRING_DATASOURCE_USERNAME: postgres
       SPRING_DATASOURCE_PASSWORD: postgres

       UPLOAD_DIR_PATH: "/uploads"
     volumes:
       - uploads_data:/uploads


volumes:
  db_data:
  uploads_data:
