body{
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(34, 34, 34, 1) 59%);



    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400; /* normal weight */
    touch-action: auto;

}


.file-upload-btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #ccc8c8;
    color: black;
    border-radius: 6px;
    border: black;

    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

/*general button style*/
button{
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #ccc8c8;
    color: black;
    border-radius: 6px;
    border: black;
    outline: black;
    margin: 10px;

    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.iconBtn{
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #ccc8c8;
    color: black;
    border-radius: 6px;
    border: black;
    outline: black;
    margin: 10px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;

}

#box{
    display: flex;
    flex-direction: column; /* stack elements vertically */
    align-items: center;    
    align-items: center;
  width: 100%;

}



#mynav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#mynavLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

#mynavLinks li a{
    color: #fff;
    font-family: 'Bitcount Prop Single', sans-serif;

    font-size: large;
    text-decoration: none;
}

#mynavLinks li a:hover {
    text-decoration: underline;
}

#mynavLinks li a.active {
    text-decoration: underline;
}



h1, h2, h3 {
    font-family: 'Bitcount Prop Single', sans-serif;
    font-weight: 700;

}


.language-selector {
    position: relative;
    display: inline-block;
}

.lang-btn {
    cursor: pointer;
    padding: 8px 12px;
    margin-left: 40px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 6px;
}

.lang-menu {
    display: none; /* hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 6px;
    min-width: 120px;
    z-index: 10;
}

.lang-menu li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

.lang-menu li a:hover {
    background-color: #f0f0f0;
}

/* show menu when hovering over button */
.language-selector:hover .lang-menu {
    display: block;
}

#uploadArea{
    background: #222;
    border-radius: 10px;
    padding :10px;
    min-width: 50%;
}

/* table td{
    background: #333;
    padding: 2px;
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse ;

} */

#filesTable {

    min-width: 50%;

    /* table-layout: fixed; */
    margin: 0 auto;      /* centers the table */
    border-collapse: collapse;
    touch-action: none;


}



td, th {
  border: 1px solid #ddd;
  padding: 8px;
  background: #000;
    touch-action: none;
  
}




/* #filesTable thead tr td{
    background-color: #000;
    border-collapse: collapse;
} */

a:active{
    text-decoration: underline;
}


a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

input{
    padding: 5px;
}

#tokenMinutesLeft, #usernameSpan{
    font-weight: bold;
}

/*tr.file, tr.dir {*/
/*    touch-action: none; !* Needed for mobile drag *!*/
/*}*/


/*#filesTable tr.file,*/
/*#filesTable tr.dir,*/
/*#filesTable tr.file *,*/
/*#filesTable tr.dir * {*/
/*    touch-action: none;*/
/*    cursor: grab;*/
/*}*/


.dragging {
    position: absolute;
    pointer-events: none; /* Let mouse pass through while dragging */
    opacity: 0.8;
    z-index: 1000;
}






.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal h3{
    color: #000;
}

.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  min-width: 300px;
}

.modal-content h3 {
  margin-top: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

