<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>

<div id="box">

    <div th:replace="fragments :: navbar"></div>

    <h1 th:text="#{app.info}">Placeholder</h1>
    <h2 th:text="#{register.message}">Placeholder</h2>

    <div>
        <label for="username" th:text="#{label.username}"  >username</label>
        <br>
        <input type="text" id="username">

    </div>

    <div>
        <label for="email" th:text="#{label.email}" > email </label>
        <br>
        <input type="text" id="email">

    </div>

    <div>
        <label for="password1" th:text="#{label.password}"  > password</label>
        <br>
        <input type="password" id="password1">
    </div>
    <div>
        <label for="password2"  th:text="#{label.password}" > password</label>
        <br>
        <input type="password" id="password2">
    </div>
    <br>

    <button id="registerBtn" th:text="#{register.button}" ></button>

    <a href="/verify" th:text="#{register.gotoverify}" ></a>

    <p id="message"></p>

</div>

<script type="module" th:src="@{/register.js}"></script>

</script>

</body>
</html>
